.feedback-list {
    display: flex;
    align-items: stretch;
    padding: 10px;
    justify-content: space-around;
    padding: 0;
    width: 100%;
}

button {
    display: flex;
    width: 100px;
    height: 35px;
    background-color: rgb(248, 245, 245);
    align-items: center;
    justify-content: center;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;

}

.good:hover {
    background-color: greenyellow;

}

.bad:hover {
    background-color: rgb(245, 74, 43);

}

.neutral:hover {
    background-color: rgb(236, 234, 87);

}

.good:active {
    transform: scale(1.1);
    background-color: rgb(148, 226, 31);

}

.bad:active {
    transform: scale(1.1);
    background-color: rgb(219, 35, 2);

}

.neutral:active {
    transform: scale(1.1);
    background-color: rgb(240, 224, 8);
    ;

}