section {
    width: 400px;
    margin-right: auto;
    margin-left: auto;
    border: solid 2px grey;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    color: rgb(49, 40, 40);
}